.Variation-01 .free_shipping-banner{
    margin-top: 5px;
    display: flex;
}
.Variation-01 .free_shipping-banner__emoji{
    font-size: 14px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.Variation-01 .free_shipping-banner__text{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #006750;
}

span.deposit_de {
    display: none;
}

.ProductMeta .UnitPriceMeasurement__Price{
    padding-left: 4px;
}