// @media (min-width: 1439px) {
// .product-gallery {
// 	display: none;
// }
.product-gallery-main-wrapper {
	height: auto !important;
	margin: unset !important;
	width: 100% !important;
}
.product-gallery__main .swiper-slide {
	background-color: #ededed !important;
}
.product-gallery__container .swiper-wrapper {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	height: auto !important;
}
.product-gallery__thumbnail-gradient {
	display: none;
}

.product-gallery__main .swiper-wrapper .swiper-slide:nth-child(1) {
	min-height: 308px;
	height: 308px;
	display: flex;
	align-items: center;
	background-color: rgba(241, 241, 241, 1) !important;
	height: 100%;
}

.product-gallery__main .swiper-wrapper .swiper-slide:nth-child(1) .u-AspectRatio {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		height: auto !important;
		position: relative;
		object-fit: unset;
	}
}

.product-gallery__main .swiper-wrapper .swiper-slide:nth-child(1) .u-AspectRatio::before {
	content: unset !important;
}

.hidden {
	display: none !important;
}

// .show-btn {
// 	margin: 20px auto;
// 	display: flex;
// 	height: 60px;
// 	background: #eaeaea;
// 	width: 100%;
// 	color: #1c1c1c;
// 	text-align: center;
// 	font-size: 16px;
// 	font-style: normal;
// 	font-weight: 700;
// 	line-height: normal;
// 	justify-content: center;
// 	gap: 8px;
// 	align-items: center;
// }

.btn-container {
	margin: 20px auto;
	display: flex;
	height: 60px;
	background: #eaeaea;
	width: 100%;
	color: #1c1c1c;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
	gap: 8px;
	align-items: center;
	cursor: pointer;
}

.accordion-icon {
	position: relative;
	// top: 2px;
}

.close {
	transform: rotate(180deg);
	top: 6px;
}

.Product__Gallery .product-description,
.product-gallery .product-description {
	margin: 0 0 0 50px !important;
}
// }
