.data-wrapper .or {
	display: none;
}
.data-wrapper .inchoo-socialconnect-checkout {
	padding: 20px 6px;
}
.data-wrapper .inchoo-socialconnect-checkout .col2-set {
	margin-top: 20px;
}
.data-wrapper .inchoo-socialconnect-checkout .text-left {
	display: block !important;
	text-align: center;
	font-size: 12px;
	line-height: 14.52px;
}
