// .ab__progress-bar {
// 	min-height: 50px;
// }

.ab__progress-bar__container {
	width: 100%;
	// padding-left: unset;
	// padding-right: unset;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 82px;
}

.ab__progress-bar__container__text {
	font-size: 15px;
	color: #000;
	font-weight: 400;
	line-height: 19px;
}

.ab__progress-bar__container__text__title__amount,
.ab__progress-bar__container__text__subtitle {
	font-weight: 700;
}

.ab__progress-bar__container__progress {
	// width: 90%;
	width: 100%;
	height: 8px;
	background-color: #eee;
	position: relative;
	margin-top: 13px;
	border-radius: 20px;
}

.ab__progress-bar__container__progress__bar {
	width: 0%;
	background: #19c8aa;
	height: 100%;
	border-radius: 20px;
	transition: width 0.5s ease-in-out;
}

.gwpProgressBar--outer {
	display: none;
}

.success {
	color: #19c8aa;
	background: linear-gradient(0deg, rgba(25, 200, 170, 0.1) 0%, rgba(25, 200, 170, 0.1) 100%), #fff;
}

.show {
	display: block !important;
}

.ab__progress-bar__container__progress__bar__celebration {
	width: 19%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -56px;
	right: -46px;
	position: absolute;
	display: none;
	z-index: 9999999999999999;
}

// .celebration__animation {
// 	display: none;
// }

.celebration__svg {
	position: absolute;
	bottom: 13px;
	// right: 25px;
	right: 36px;
}

#mini-cart .drawer__content {
	padding: unset !important;
}

#mini-cart-form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
}

.bold {
	font-weight: 700;
}

@media (max-width: 999px) {
	.ab__progress-bar__container__text {
		font-size: 11px;
		line-height: 14px;
		// font-weight: 600 !important;
	}
	.ab__progress-bar__container {
		padding: 12px 12px;
		min-height: 58px;
	}
	.ab__progress-bar__container__progress {
		width: 100%;
		margin-top: 8px;
	}
	.ab__progress-bar__container__progress__bar {
		border-radius: 10px;
	}
	.ab__progress-bar__container__progress__bar__celebration {
		height: 65px;
		top: -40px;
		right: -26px;
	}
	.celebration__svg {
		right: 18px;
	}
	#mini-cart-form {
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 25px;
	}
}
